{% extends 'base.html' %}


{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-6 col-12 mb-30">
            <div class="media item-shadow-gray bg-body media-none--sm">
                <div class="position-relative width-36 width43-lg">
                    <a href="{% url 'one_post' one_post.id %}" class="img-opacity-hover img-overlay-70">
                        <img src="../../{{ one_post.image }}" alt="{{ one_post.alt_image }}" class="img-fluid">
                    </a>
                    <div class="topic-box-top-xs">
                        <div class="topic-box-sm color-cod-gray mb-20">{{ one_post.categories|upper }}</div>
                    </div>
                </div>
                <div class="media-body media-padding30 p-mb-none-child">
                    <div class="post-date-dark">
                        <ul>
                            <li>
                                <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>{{ one_post.created }}</li>
                            <li>
                                <span>
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                </span>
                                Лайки: {{ like }}
                            </li>
                            <li>
                                <span>
                                    <i class="fa fa-commenting" aria-hidden="true"></i>
                                </span>
                                Коментарии: {{ all_comments }}
                            </li>
                        </ul>
                    </div>
                    <h3 class="title-semibold-dark size-lg mb-15">
                        <a href="{% url 'one_post' one_post.id %}">{{ one_post.title }}</a>
                    </h3>
                    <p>{{ one_post.body }}</p>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 col-sm-6 col-12 mb-30">
            <div class="topic-box-lg color-azure-radiance">Коментарии</div>
            {% if comments %}
            {% for comment in comments %}
            <div class="one-commetn">
                <h3>{{ comment.author.first_name }}</h3>
                <p>{{ comment.body }}</p>
            </div>
            {% endfor %}
            {% else %}
            <p>Коментариев нет</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}