{% load static %}


<!DOCTYPE html>
<html
    class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths"
    lang="Ru" style="">

{% include 'block_head.html' %}

<body cz-shortcut-listen="true" style="margin-top: 0px;">

    {% include 'header.html' %}
    <div class="main-menu-area bg-body" id="sticker">
        <div class="container">
            <div class="row no-gutters d-flex align-items-center">
                <div class="col-lg-9 position-static d-none d-lg-block">
                    <div class="ne-main-menu">
                        <nav id="dropdown" style="display: block;">
                            <ul>
                                <li>
                                    <a href="{% url 'home' %}">Главная</a>

                                </li>
                                {% for i in cat %}
                                <li>
                                    <a href="{% url 'new_base' i.pk %}">{{ i }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 text-right position-static">
                    <div class="header-action-item on-mobile-fixed">
                        <ul>
                            <li>
                                {% block search %}
                                
                                {% endblock %}
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</header>
<!-- Header Area End Here -->

    {% block content %} {% endblock content %}
    {% include 'footer.html' %}

    <!-- Offcanvas Menu End -->
    </div>

<!-- Modal Start-->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <div class="title-login-form">Login</div>
            </div>
            <div class="modal-body">
                <div class="login-form">
                    <form>
                        <label>Username or email address *</label>
                        <input type="text" placeholder="Name or E-mail">
                        <label>Password *</label>
                        <input type="password" placeholder="Password">
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox" type="checkbox" checked="">
                            <label for="checkbox">Remember Me</label>
                        </div>
                        <button type="submit" value="Login">Login</button>
                        <button class="form-cancel" type="submit" value="">Cancel</button>
                        <label class="lost-password">
                            <a href="https://www.radiustheme.com/demo/html/newsedge/newsedge/index2.html#">Lost your password?</a>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End-->
<!-- Offcanvas Menu Start -->
<div id="offcanvas-body-wrapper" class="offcanvas-body-wrapper">
    <div id="offcanvas-nav-close" class="offcanvas-nav-close offcanvas-menu-btn">
        <a href="https://www.radiustheme.com/demo/html/newsedge/newsedge/index2.html#" class="menu-times re-point">
            <span></span>
            <span></span>
        </a>
    </div>
    <div class="offcanvas-main-body">
        <ul id="accordion" class="offcanvas-nav panel-group">
            <li class="panel panel-default">
                <div class="panel-heading">
                    <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="https://www.radiustheme.com/demo/html/newsedge/newsedge/index2.html#collapseOne">
                        <i class="fa fa-home" aria-hidden="true"></i>Home Pages</a>
                </div>
                <div aria-expanded="false" id="collapseOne" role="tabpanel" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="offcanvas-sub-nav">
                            <li>
                                <a href="https://www.radiustheme.com/demo/html/newsedge/newsedge/index.html">Home 1</a>
                            </li>
                            <li>
                                <a href="https://www.radiustheme.com/demo/html/newsedge/newsedge/index2.html">Home 2</a>
                            </li>
                            <li>
                                <a href="https://www.radiustheme.com/demo/html/newsedge/newsedge/index3.html">Home 3</a>
                            </li>
                            <li>
                                <a href="https://www.radiustheme.com/demo/html/newsedge/newsedge/index4.html">Home 4</a>
                            </li>
                            <li>
                                <a href="https://www.radiustheme.com/demo/html/newsedge/newsedge/index5.html">Home 5</a>
                            </li>
                            <li>
                                <a href="https://www.radiustheme.com/demo/html/newsedge/newsedge/index6.html">Home 6</a>
                            </li>
                            <li>
                                <a href="https://www.radiustheme.com/demo/html/newsedge/newsedge/index7.html">Home 7</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <a href="https://www.radiustheme.com/demo/html/newsedge/newsedge/author-post.html">
                    <i class="fa fa-user" aria-hidden="true"></i>Author Post Page</a>
            </li>
            <li class="panel panel-default">
                <div class="panel-heading">
                    <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="https://www.radiustheme.com/demo/html/newsedge/newsedge/index2.html#collapseTwo">
                        <i class="fa fa-file-text" aria-hidden="true"></i>Post Pages</a>
                </div>
                <div aria-expanded="false" id="collapseTwo" role="tabpanel" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="offcanvas-sub-nav">
                            <li>
                                <a href="https://www.radiustheme.com/demo/html/newsedge/newsedge/post-style-1.html">Post Style 1</a>
                            </li>
                            <li>
                                <a href="https://www.radiustheme.com/demo/html/newsedge/newsedge/post-style-2.html">Post Style 2</a>
                            </li>
                            <li>
                                <a href="https://www.radiustheme.com/demo/html/newsedge/newsedge/post-style-3.html">Post Style 3</a>
                            </li>
                            <li>
                                <a href="https://www.radiustheme.com/demo/html/newsedge/newsedge/post-style-4.html">Post Style 4</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="panel panel-default">
                <div class="panel-heading">
                    <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="https://www.radiustheme.com/demo/html/newsedge/newsedge/index2.html#collapseThree">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>News Details Pages</a>
                </div>
                <div aria-expanded="false" id="collapseThree" role="tabpanel" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="offcanvas-sub-nav">
                            <li>
                                <a href="https://www.radiustheme.com/demo/html/newsedge/newsedge/single-news-1.html">News Details 1</a>
                            </li>
                            <li>
                                <a href="https://www.radiustheme.com/demo/html/newsedge/newsedge/single-news-2.html">News Details 2</a>
                            </li>
                            <li>
                                <a href="https://www.radiustheme.com/demo/html/newsedge/newsedge/single-news-3.html">News Details 3</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <a href="https://www.radiustheme.com/demo/html/newsedge/newsedge/archive.html">
                    <i class="fa fa-archive" aria-hidden="true"></i>Archive Page</a>
            </li>
            <li class="panel panel-default">
                <div class="panel-heading">
                    <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="https://www.radiustheme.com/demo/html/newsedge/newsedge/index2.html#collapseFour">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>Gallery Pages</a>
                </div>
                <div aria-expanded="false" id="collapseFour" role="tabpanel" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="offcanvas-sub-nav">
                            <li>
                                <a href="https://www.radiustheme.com/demo/html/newsedge/newsedge/gallery-style-1.html">Gallery Style 1</a>
                            </li>
                            <li>
                                <a href="https://www.radiustheme.com/demo/html/newsedge/newsedge/gallery-style-2.html">Gallery Style 2</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <a href="https://www.radiustheme.com/demo/html/newsedge/newsedge/404.html">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>404 Error Page</a>
            </li>
            <li>
                <a href="https://www.radiustheme.com/demo/html/newsedge/newsedge/contact.html">
                    <i class="fa fa-phone" aria-hidden="true"></i>Contact Page</a>
            </li>
        </ul>
    </div>
</div>

{% include 'block_js.html' %}

</body>
<div class="XTranslate"></div>

</html>