{% load static %}
    
    <!-- Footer Area Start Here -->
    <footer>
        <!-- <div class="footer-area-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer-box">
                            <h2 class="title-bold-light title-bar-left text-uppercase">Most Viewed Posts</h2>
                            <ul class="most-view-post">
                                <li>
                                    <div class="media">
                                        <a href="#">
                                            <img src="{% static 'images/post1.jpg' %}" alt="post" class="img-fluid">
                                        </a>
                                        <div class="media-body">
                                            <h3 class="title-medium-light size-md mb-10">
                                                <a href="#">Basketball Stars Face Off itim ate Playoff Beard Battle</a>
                                            </h3>
                                            <div class="post-date-light">
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        </span>November 11, 2017</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <a href="#">
                                            <img src="{% static 'images/post2.jpg' %}" alt="post" class="img-fluid">
                                        </a>
                                        <div class="media-body">
                                            <h3 class="title-medium-light size-md mb-10">
                                                <a href="#">Basketball Stars Face Off in ate Playoff Beard Battle</a>
                                            </h3>
                                            <div class="post-date-light">
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        </span>August 22, 2017</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <a href="#">
                                            <img src="{% static 'images/post3.jpg' %}" alt="post" class="img-fluid">
                                        </a>
                                        <div class="media-body">
                                            <h3 class="title-medium-light size-md mb-10">
                                                <a href="#">Basketball Stars Face tim ate Playoff Battle</a>
                                            </h3>
                                            <div class="post-date-light">
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        </span>March 31, 2017</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-3 col-md-6 col-sm-12">
                        <div class="footer-box">
                            <h2 class="title-bold-light title-bar-left text-uppercase">Popular Categories</h2>
                            <ul class="popular-categories">
                                <li>
                                    <a href="#">Gadgets
                                        <span>15</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Architecture
                                        <span>10</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">New look 2017
                                        <span>14</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Reviews
                                        <span>13</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Mobile and Phones
                                        <span>19</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Recipes
                                        <span>26</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Decorating
                                        <span>21</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">IStreet fashion
                                        <span>09</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12">
                        <div class="footer-box">
                            <h2 class="title-bold-light title-bar-left text-uppercase">Post Gallery</h2>
                            <ul class="post-gallery shine-hover ">
                                <li>
                                    <a href="#">
                                        <figure>
                                            <img src="{% static 'images/post4.jpg' %}" alt="post" class="img-fluid">
                                        </figure>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <figure>
                                            <img src="{% static 'images/post5.jpg' %}" alt="post" class="img-fluid">
                                        </figure>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <figure>
                                            <img src="{% static 'images/post6.jpg' %}" alt="post" class="img-fluid">
                                        </figure>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <figure>
                                            <img src="{% static 'images/post7.jpg' %}" alt="post" class="img-fluid">
                                        </figure>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <figure>
                                            <img src="{% static 'images/post8.jpg' %}" alt="post" class="img-fluid">
                                        </figure>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <figure>
                                            <img src="{% static 'images/post9.jpg' %}" alt="post" class="img-fluid">
                                        </figure>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <figure>
                                            <img src="{% static 'images/post10.jpg' %}" alt="post" class="img-fluid">
                                        </figure>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <figure>
                                            <img src="{% static 'images/post11.jpg' %}" alt="post" class="img-fluid">
                                        </figure>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <figure>
                                            <img src="{% static 'images/post11.jpg' %}" alt="post" class="img-fluid">
                                        </figure>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        
        <div class="footer-area-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <ul class="news-info-list text-center--md">
                            {% if user.is_authenticated %}
                            <li>
                                {% if user.first_name or user.last_name %}
                                <a class="reg" href="{% url 'user' %}">
                                    {{  user.first_name }} {{  user.last_name }}
                                </a>
                                <a class="reg"
                                    href="{% url 'mylogout' %}">выход</a>
                                {% else %}
                                Привет {{ request.user.username }}!<a class="reg"
                                    href="{% url 'mylogout' %}">выход</a>
                                {% endif %}
                            </li>
                            {% else %}
                            <li><a class="reg" href="{% url 'mylogin' %}">вход</a>|<a class="reg"
                                    href="{% url 'register' %}">регистрация</a></li>
                            {% endif %}
                        </ul>
                        <br>
                        <a href="{% url 'home' %}" class="footer-logo img-fluid">
                            <img src="{% static 'images/logo.png' %}" alt="logo" class="img-fluid">
                        </a>
                        <ul class="footer-social">
                            <li>
                                <a href="https://www.facebook.com/yevgeny.vasilev/" title="facebook">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/Shpeeck" title="twitter">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="google-plus">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/vasyliev-yevhen/" title="linkedin">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://ru.pinterest.com/jenya_vas/" title="pinterest">
                                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="rss">
                                    <i class="fa fa-rss" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="vimeo">
                                    <i class="fa fa-vimeo" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                        <p>© 2017 newsedge Designed by RadiusTheme. All Rights Reserved</p>
                        <p>© 2022 backend development by <a href="https://www.linkedin.com/in/vasyliev-yevhen/">Shpeeck</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End Here -->