{% load static %}

<div id="wrapper">
    <!-- Header Area Start Here -->
    <header>
        <div id="header-layout2" class="header-style2">
            <div class="header-top-bar">
                <div class="top-bar-top bg-accent border-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-12 d-flex align-items-center">
                                <ul class="header-social">
                                    <li>
                                        <a href="https://www.facebook.com/yevgeny.vasilev/" title="facebook">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/Shpeeck" title="twitter">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="google-plus">
                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/in/vasyliev-yevhen/" title="linkedin">
                                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://ru.pinterest.com/jenya_vas/" title="pinterest">
                                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="rss">
                                            <i class="fa fa-rss" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="vimeo">
                                            <i class="fa fa-vimeo" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-4 col-md-12 d-flex flex-row-reverse">
                                <ul class="news-info-list text-center--md">
                                    {% if user.is_authenticated %}
                                    <li>
                                        {% if user.first_name or user.last_name %}
                                        <a class="reg" href="{% url 'user' %}">
                                            {{  user.first_name }} {{  user.last_name }}
                                        </a>
                                        <a class="reg"
                                            href="{% url 'mylogout' %}">выход</a>
                                        {% else %}
                                        Привет {{ request.user.username }}!<a class="reg"
                                            href="{% url 'mylogout' %}">выход</a>
                                        {% endif %}
                                    </li>
                                    {% else %}
                                    <li><a class="reg" href="{% url 'mylogin' %}">вход</a>|<a class="reg"
                                            href="{% url 'register' %}">регистрация</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top-bar-bottom bg-body pt-20 d-none d-lg-block">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="logo-area">
                                    <a href="{% url 'home' %}" class="img-fluid">
                                        <img src="{% static 'images/logo-dark.png' %}" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="ne-banner-layout1 pull-right">
                                    <a href="{% url 'weather' %}">
                                        <!-- <img src="{% static 'images/banner2.jpg' %}" alt="ad" class="img-fluid"> -->
                                        <div class="d-flex justify-content-between align-items-center banner-heigth">
                                            {% for i in data %}
                                            <div class="d-flex">
                                                <img src="{{ i.pictures }}" alt="." class="banner-heigth_img"> 
                                                <div>
                                                    <h2>{{ i.city }}</h2>
                                                    <h3 class="active">{{ i.temperature }}</h3>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            
                                                <div class="topic-box-lg color-cinnabar">Подробнее</div>
                                            
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            